a:active,
a:focus,
a:hover {
    color: [COLOR_HEX]
}

.tours-wrapper .tours-list .slick-prev, .tours-wrapper .tours-list .slick-next {
    border: 2px solid [COLOR_HEX];
}

.slz-shortcode .contact form.contact-form input[type=submit] {
    color: [COLOR_HEX];
}

.slz-woocommerce .added_to_cart.wc-forward, .slz-woocommerce input#submit, .slz-woocommerce a.button, .slz-woocommerce button.button, .slz-woocommerce input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    color: [COLOR_HEX];
}

.woocommerce .woocommerce-error, .slz-woocommerce .woocommerce-message, .woocommerce .woocommerce-message, .slz-woocommerce .woocommerce-error, .slz-woocommerce .woocommerce-info, .woocommerce .woocommerce-info {
    border-left: 3px solid [COLOR_HEX];
}

.woocommerce .woocommerce-info:before {
    color: [COLOR_HEX];
}

.slz-woocommerce .woocommerce-error .button, .slz-woocommerce .woocommerce-info .button, .woocommerce .woocommerce-info .button {
    color: [COLOR_HEX];
}

 .woocommerce #payment .payment_method_paypal .about_paypal {
    color: [COLOR_HEX];
}

.slz-woocommerce .woocommerce-message a,
.woocommerce .woocommerce-message a,
.woocommerce .woocommerce-error a,
.slz-woocommerce .woocommerce-error a,
.slz-woocommerce .woocommerce-info a,
.woocommerce .woocommerce-info a,
.slz-woocommerce .woocommerce-message .button,
.woocommerce .woocommerce-message .button,
.woocommerce .woocommerce-error .button,
.slz-woocommerce .woocommerce-error .button,
.slz-woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-info .button {
    color: [COLOR_HEX];
}

.woocommerce .login .form-row:not(.form-row-first):not(.form-row-last):not(.form-row-wide) input[type=checkbox]:checked + label:before,
.woocommerce .create-account input[type=checkbox]:checked + .checkbox:before,
.woocommerce .woocommerce-shipping-fields input[type=checkbox]:checked + .checkbox:before,
.woocommerce ul#shipping_method li input[type=radio]:checked + label:before,
.woocommerce #payment ul.payment_methods li input[type=radio]:checked + label:before {
    color: [COLOR_HEX];
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    color: [COLOR_HEX];
}

.slz-woocommerce a.button:hover,
.slz-woocommerce button.button:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.slz-woocommerce a.added_to_cart:hover,
.slz-woocommerce a.button:focus,
.slz-woocommerce button.button:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.slz-woocommerce a.added_to_cart:focus,
.slz-woocommerce a.button:active,
.slz-woocommerce button.button:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.slz-woocommerce a.added_to_cart:active,
.woocommerce #respond input#submit:hover,
.slz-woocommerce input#submit:hover,
.slz-woocommerce input.button:hover,
.woocommerce input.button:hover,
.woocommerce.widget_product_search .woocommerce-product-search input[type='submit']:hover,
.woocommerce table.shop_table td.actions .button[name="apply_coupon"]:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: [COLOR_HEX];
}

.login-table.rlp-table .title-sign-in .signin {
    color: [COLOR_HEX];
}

.login-table.rlp-table a.btn-close:hover, .register-table.rlp-table a.btn-close:hover {
    background-color: [COLOR_HEX];
}

.spinner > div {
    background-color: [COLOR_HEX]
}

.bg-transparent .header-topbar .topbar-left li:hover i,
.bg-transparent .header-topbar .topbar-left li:hover span {
    color: [COLOR_HEX]
}

.bg-transparent .header-main.header-fixed .nav-search form .searchbutton {
    background-color: [COLOR_HEX]
}

.bg-white .header-topbar .topbar-left li:hover i,
.bg-white .header-topbar .topbar-left li:hover span {
    color: [COLOR_HEX]
}

.header-03 .header-topbar .btn-menu:hover .icons,
.header-03 .header-topbar .btn-menu:hover .text {
    color: [COLOR_HEX]
}

.header-topbar a:hover,
.header-topbar p:hover,
.header-topbar span:hover {
    color: [COLOR_HEX]
}

.header-topbar .topbar-left > li:hover i,
.header-topbar .topbar-left > li:hover span {
    color: [COLOR_HEX]
}

.navigation .nav-links li.active .main-menu,
.navigation .nav-links li:hover .main-menu {
    color: [COLOR_HEX]
}

.navigation .nav-links li:hover .main-menu .icons-dropdown i {
    color: [COLOR_HEX]
}

.navigation .nav-links .main-menu:after,
.navigation .nav-links .main-menu:before {
    background-color: [COLOR_HEX]
}

.bg-transparent .navigation .nav-links li.active .main-menu,
.bg-transparent .navigation .nav-links li:hover .main-menu {
    color: [COLOR_HEX]!important
}

.bg-white .navigation .nav-links li.active .main-menu,
.bg-white .navigation .nav-links li:hover .main-menu {
    color: [COLOR_HEX]!important
}

.dropdown-menu-1,
.dropdown-menu-2 {
    border-bottom: 2px solid [COLOR_HEX]
}

.wrapper-mobile-nav {
    background: [COLOR_HEX]
}

.wrapper-mobile-nav .header-main .login-widget .item:hover {
    background-color: [COLOR_HEX]
}

.menu-mobile .main-menu {
    background-color: [COLOR_HEX]
}

.menu-mobile .main-menu:active,
.menu-mobile .main-menu:hover {
    background-color: [COLOR_HEX]
}

.contact-us-widget .info-list ul li .link:hover {
    color: [COLOR_HEX]
}

.contact-us-widget .info-list > div .link:hover span {
    color: [COLOR_HEX]
}

.form-email .btn-email {
    background-color: [COLOR_HEX]
}

.booking-widget ul li .link:before {
    color: [COLOR_HEX]
}

.booking-widget ul li:hover .link {
    color: [COLOR_HEX]
}

.explore-widget ul li:hover .link,
.top-deals-widget ul li:hover .link {
    color: [COLOR_HEX]
}

.find-widget {
    background-color: [COLOR_HEX]
}

.find-widget .submit-btn-wrapper .submit-btn {
    color: [COLOR_HEX]
}

.find-widget .submit-btn-wrapper .text {
    color: [COLOR_HEX]
}

.tab-search-condensed {
    background-color: [COLOR_HEX]
}

.flight-time-widget .flight-time-visual-widget .visual .bar .arrive.indicator,
.flight-time-widget .flight-time-visual-widget .visual .bar .depart.indicator {
    background-color: [COLOR_HEX]
}

.price-widget .nstSlider .leftGrip.indicator,
.price-widget .nstSlider .rightGrip.indicator {
    background-color: [COLOR_HEX]
}

.tab-search .tab-btn-wrapper .tab-btn:active,
.tab-search .tab-btn-wrapper .tab-btn:focus,
.tab-search .tab-btn-wrapper .tab-btn:hover {
    background-color: [COLOR_HEX]
}

.tab-search .tab-btn-wrapper.active .tab-btn {
    background-color: [COLOR_HEX]
}

.tab-search-default .tab-btn-wrapper .tab-btn i {
    color: [COLOR_HEX]
}

.tab-search-default .tab-content-bg {
    background-color: [COLOR_HEX]
}

.tab-search-condensed .tab-btn-wrapper .tab-btn {
    color: [COLOR_HEX]
}

.tab-search-condensed .tab-btn-wrapper .tab-btn i {
    color: [COLOR_HEX]
}

.fds-widget .price-select.yellow {
    background-color: [COLOR_HEX]
}

.single-flight-result form.flight-class .class-selection-wrapper label.radio-box span.text-wrapper span.price {
    color: [COLOR_HEX]
}

.social-widget ul li a.social-icon:hover {
    border-color: [COLOR_HEX];
    background-color: [COLOR_HEX]
}

.bg-blue-gradient .link:hover {
    color: [COLOR_HEX]!important
}

.subscribe-email {
    background-color: [COLOR_HEX]
}

.form-subscribe-email .btn-email {
    color: [COLOR_HEX]
}

.page-title-wrapper .breadcrumb li .link:hover {
    color: [COLOR_HEX]
}

.page-title-wrapper .breadcrumb li.active .link:after {
    background-color: [COLOR_HEX]
}

.page-title-wrapper .price .number {
    color: [COLOR_HEX]
}

.page-title-wrapper .price .unit {
    color: [COLOR_HEX]
}

.page-title-wrapper .breadcrumb {
    border-bottom: 1px solid [COLOR_HEX]
}

.page-title-wrapper .breadcrumb li .link:hover {
    color: [COLOR_HEX]
}

.page-title-wrapper .price .number {
    color: [COLOR_HEX]
}

.page-title-wrapper .price .unit {
    color: [COLOR_HEX]
}

.group-title .sub-title .icons:after {
    background-color: [COLOR_HEX]
}

.title-style-2:after {
    background-color: [COLOR_HEX]
}

.btn.btn-maincolor {
    background-color: [COLOR_HEX];
    border: 1px solid [COLOR_HEX]
}

.btn.btn-gray:hover {
    background-color: [COLOR_HEX];
    border: 1px solid [COLOR_HEX]
}

.btn-slide {
    color: [COLOR_HEX]
}

.btn-slide .text {
    color: [COLOR_HEX]
}

.btn-slide .icons {
    color: [COLOR_HEX]
}

.btn-slide:before {
    color: [COLOR_HEX]
}

#back-top .link {
    border: 2px solid [COLOR_HEX];
    color: [COLOR_HEX]
}

#back-top .link:hover {
    background-color: [COLOR_HEX]
}

.stars:after {
    color: [COLOR_HEX]
}

.label-sale {
    background-color: [COLOR_HEX]
}

.tours-layout .image-wrapper .title-wrapper .title:before {
    background: [COLOR_HEX]
}

.tours-layout .image-wrapper .title-wrapper .title:hover {
    color: [COLOR_HEX]
}

.tours-layout .content-wrapper .list-info li .link:hover {
    background-color: [COLOR_HEX]
}

.tours-layout .content-wrapper > .content .title .price {
    color: [COLOR_HEX]
}

.tours-layout .content-wrapper > .content .group-btn-tours .left-btn:hover,
.tours-layout .content-wrapper > .content .group-btn-tours .right-btn:hover {
    background-color: [COLOR_HEX]
}

.hotels-layout .image-wrapper .title-wrapper .title:before {
    background: [COLOR_HEX]
}

.hotels-layout .image-wrapper .title-wrapper .title:hover {
    color: [COLOR_HEX]
}

.hotels-layout .content-wrapper .list-info .link:hover {
    background-color: [COLOR_HEX]
}

.hotels-layout .content-wrapper .list-info .share-social-list .link-social:hover {
    background-color: [COLOR_HEX]
}

.hotels-layout .content-wrapper > .content .title .price {
    color: [COLOR_HEX]
}

.hotels-layout .content-wrapper > .content .group-btn-tours:hover {
    background-color: [COLOR_HEX]
}

.new-layout .content-wrapper .title:hover {
    color: [COLOR_HEX]
}

.new-layout .content-wrapper .info li .link:hover {
    color: [COLOR_HEX]
}

.cruises-layout .content-wrapper .title:hover {
    color: [COLOR_HEX]
}

.cruises-layout .content-wrapper .price {
    color: [COLOR_HEX]
}

.special-offer-layout .image-wrapper .title-wrapper .title:before {
    background: [COLOR_HEX]
}

.special-offer-layout .image-wrapper .title-wrapper .title:hover {
    color: [COLOR_HEX]
}

.categories-widget li.single-widget-item:hover .category,
.categories-widget li.single-widget-item:hover .count {
    color: [COLOR_HEX]
}

.mozilla5 .homepage-default .group-title .title,
.safari .homepage-default .group-title .title {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 15%, #fff 35%, #fff 50%, #fff 85%, [COLOR_HEX] 90%, #fff 100%);
    background: linear-gradient(to right, #fff 0%, #fff 15%, #fff 35%, #fff 50%, #fff 85%, [COLOR_HEX] 90%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: color-text 5s infinite
}

.box-media:hover .icons {
    background: [COLOR_HEX];
    border: 1px solid [COLOR_HEX]
}

.tours-wrapper .tours-list .slick-dots li button:hover {
    border: 1px solid [COLOR_HEX]
}

.tours-wrapper .tours-list .slick-dots li button:hover:before {
    color: [COLOR_HEX]
}

.tours-wrapper .tours-list .slick-dots li.slick-active button {
    border: 1px solid [COLOR_HEX]
}

.tours-wrapper .tours-list .slick-dots li.slick-active button:before {
    color: [COLOR_HEX]
}

.travelers .traveler-list .slick-dots li button:hover {
    border: 1px solid [COLOR_HEX]
}

.travelers .traveler-list .slick-dots li button:hover:before {
    color: [COLOR_HEX]
}

.travelers .traveler-list .slick-dots li.slick-active button {
    border: 1px solid [COLOR_HEX]
}

.travelers .traveler-list .slick-dots li.slick-active button:before {
    color: [COLOR_HEX]
}

.traveler .wrapper-content .name {
    color: [COLOR_HEX]
}

.news .news-list .slick-dots li button:hover {
    border: 1px solid [COLOR_HEX]
}

.news .news-list .slick-dots li button:hover:before {
    color: [COLOR_HEX]
}

.news .news-list .slick-dots li.slick-active button {
    border: 1px solid [COLOR_HEX]
}

.news .news-list .slick-dots li.slick-active button:before {
    color: [COLOR_HEX]
}

.text-salebox .text-left .sale-box .number {
    color: [COLOR_HEX]
}

.text-salebox .text-left .sale-box .sup-1 {
    color: [COLOR_HEX]
}

.a-fact-image-wrapper .a-fact-image .icons:hover {
    background: [COLOR_HEX];
    border: 2px solid [COLOR_HEX]
}

.contact-box {
    background-color: [COLOR_HEX]
}

.item-blog-detail .blog-text .sideline:after {
    background-color: [COLOR_HEX]
}

.item-blog-detail .blog-text .blog-comment .comment-list .media-right .btn.btn-crystal:hover {
    color: [COLOR_HEX]
}

.stars-rating a.star-1:before,
.stars-rating a.star-2:before,
.stars-rating a.star-3:before,
.stars-rating a.star-4:before,
.stars-rating a.star-5:before {
    color: [COLOR_HEX]
}

.schedule-block .element {
    background-color: [COLOR_HEX]
}

.timeline-title span {
    background-color: [COLOR_HEX]
}

.contact-list-media:hover .icons {
    background: [COLOR_HEX];
    border: 1px solid [COLOR_HEX]
}

.map-block .map-info p.mail:hover a {
    color: [COLOR_HEX]
}

.map-block .map-info .footer-block {
    background-color: [COLOR_HEX]
}

.map-block .map-info .footer-block .btn-open-map:hover {
    border: 1px solid [COLOR_HEX]
}

.list-continent-wrapper .continent:before {
    background-color: [COLOR_HEX];
    border: 1px solid [COLOR_HEX]
}

.special-offer-list .slick-dots li button:hover {
    border: 1px solid [COLOR_HEX]
}

.special-offer-list .slick-dots li button:hover:before {
    color: [COLOR_HEX]
}

.special-offer-list .slick-dots li.slick-active button {
    border: 1px solid [COLOR_HEX]
}

.special-offer-list .slick-dots li.slick-active button:before {
    color: [COLOR_HEX]
}

.our-content .our-icon {
    color: [COLOR_HEX]
}

.content-expert .caption-expert {
    background-color: [COLOR_HEX]
}

.content-tours .wrapper-thin:hover .icon-thin {
    color: [COLOR_HEX]
}

.content-tours .wrapper-thin:hover .tours-title {
    color: [COLOR_HEX]
}

.content-organization:hover .wrapper-img {
    border: 1px solid [COLOR_HEX]
}

.content-organization .organization-title .title:hover {
    color: [COLOR_HEX]
}

.content-organization .content-widget .link:hover {
    color: [COLOR_HEX]
}

.flight-result-main .date-selection .btn-wrapper .btn-select:hover {
    color: [COLOR_HEX];
    border-color: [COLOR_HEX]
}

.blog-post .blog-content .heading:hover {
    color: [COLOR_HEX]
}

.blog-post .blog-content .quote-wrapper .quote:hover {
    color: [COLOR_HEX]
}

.wrapper-car-result .car-wigdet .car-item:hover {
    color: [COLOR_HEX]
}

.item-list-style06 .wrapper-car-result .car-wigdet .car-item:hover span {
    color: [COLOR_HEX]
}

.item-list-style06 .wrapper-car-result .car-wigdet .car-item:hover > .car-icon {
    color: [COLOR_HEX]
}

.car-price-wrapper {
    background-color: [COLOR_HEX]
}

.wrapper-driver-detail .driver-title {
    background-color: [COLOR_HEX]
}

.form-check-img .input-check:checked ~ .img-radio:before {
    border: 2px solid [COLOR_HEX]
}

.wrapper-accordion .panel.active .panel-heading {
    background-color: [COLOR_HEX]
}

.wrapper-caption-team .wrapper-team-title .team-title:hover {
    color: [COLOR_HEX]
}

.wrapper-caption-team .wrapper-team-title .team-title-andress .item-andress:hover {
    color: [COLOR_HEX]
}

.team-purchase .title-yellow {
    color: [COLOR_HEX]
}

.main-position .list-info .link:hover {
    background-color: [COLOR_HEX]
}

.group-number .about-us-list li:hover .text {
    color: [COLOR_HEX]
}

.group-number .about-us-list li:hover .text:after {
    color: [COLOR_HEX]
}

.group-number .about-us-list li:hover .text-number {
    color: [COLOR_HEX]
}

.wrapper-llc .list-llc .item:hover {
    color: [COLOR_HEX]
}

.view-more .more {
    color: [COLOR_HEX]
}

.datepicker thead .next:hover:before,
.datepicker thead .prev:hover:before {
    background-color: [COLOR_HEX]
}

.datepicker tbody td.day.active:before,
.datepicker tbody td.day.range-end:before,
.datepicker tbody td.day.range-start:before {
    background-color: [COLOR_HEX]
}

.title-style-2 span {
    color: [COLOR_HEX]
}

.star-rating span {
    color: [COLOR_HEX]
}

.slz-woocommerce .type-product .onsale {
    background-color: [COLOR_HEX]
}

.slz-woocommerce .type-product .entry-summary .price > .amount {
    color: [COLOR_HEX]
}

.slz-woocommerce .type-product .entry-summary .single_add_to_cart_button,
.slz-woocommerce .type-product .entry-summary .single_add_to_cart_button::before {
    color: [COLOR_HEX]
}

.slz-woocommerce .type-product .entry-summary .single_add_to_cart_button:hover {
    background-color: [COLOR_HEX]
}

.slz-woocommerce .type-product .upsells h2::after {
    background-color: [COLOR_HEX]
}

.slz-woocommerce .type-product .related h2::after {
    background-color: [COLOR_HEX]
}

.woocommerce ul.products li.type-product .onsale,
.slz-woocommerce ul.products li.type-product .onsale {
    background-color: [COLOR_HEX]
}

.slz-woocommerce a.button:hover,
.slz-woocommerce a.button:focus {
    background-color: [COLOR_HEX]
}

.slz-woocommerce a.button {
    color: [COLOR_HEX]
}

.woocommerce .products .type-product .price > .amount,
.slz-woocommerce .products .type-product .price > .amount {
    color: [COLOR_HEX]
}

.slz-woocommerce .products .type-product .price ins .amount {
    color: [COLOR_HEX]
}

.slz-woocommerce .products .type-product .price ins {
    color: [COLOR_HEX]
}

.slz-woocommerce .products .type-product h3:hover {
    color: [COLOR_HEX]
}

.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce a.button.alt:hover {
    background-color: [COLOR_HEX]
}

.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce a:focus,
.woocommerce a:hover,
.woocommerce a:active {
    color: [COLOR_HEX]
}

.woocommerce table.shop_table a.remove {
    color: [COLOR_HEX]
}

.woocommerce table.shop_table td.product-name a:hover {
    color: [COLOR_HEX]
}

.woocommerce a.remove {
    color: [COLOR_HEX]!important
}

.woocommerce ul.products li.product .price ins .amount {
    color: [COLOR_HEX]
}

.woocommerce ul.products li.product .price ins {
    color: [COLOR_HEX]
}

.woocommerce ul.products li.product .button::before {
    color: [COLOR_HEX]
}

.woocommerce ul.products li.product h3:hover {
    color: [COLOR_HEX]
}

.woocommerce .star-rating::before {
    color: [COLOR_HEX]
}

.woocommerce input#submit {
    color: [COLOR_HEX]
}

.woocommerce #respond input#submit:hover {
    background-color: [COLOR_HEX]
}

.woocommerce table.shop_table thead tr th {
    background-color: [COLOR_HEX]
}

.status-publish.hentry .woocommerce h2::after {
    background-color: [COLOR_HEX]
}

.yith-wcwl-add-to-wishlist .add_to_wishlist:hover {
    background-color: [COLOR_HEX];
    border: 2px solid [COLOR_HEX]
}

.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a {
    color: [COLOR_HEX]
}

.slz-woocommerce div.product .woocommerce-tabs ul.tabs > li.active > a,
.slz-woocommerce div.product .woocommerce-tabs ul.tabs > li > a:focus {
    color: [COLOR_HEX]
}

.slz-woocommerce div.product .woocommerce-tabs ul.tabs > li a::before,
.slz-woocommerce div.product .woocommerce-tabs ul.tabs > li a::after {
    background-color: [COLOR_HEX]
}

.slz-woocommerce div.product .woocommerce-tabs ul.tabs > li > a:hover {
    color: [COLOR_HEX]
}

.slz-woocommerce input#submit:hover {
    background-color: [COLOR_HEX]
}

.slz-woocommerce a.added_to_cart:focus {
    background-color: [COLOR_HEX]
}

.slz-woocommerce a.added_to_cart:hover {
    background-color: [COLOR_HEX]
}

.slz-woocommerce .added_to_cart.wc-forward {
    color: [COLOR_HEX]
}

.slz-woocommerce ul.yith_magnifier_gallery > button.slick-prev:hover,
.slz-woocommerce ul.yith_magnifier_gallery > button.slick-next:hover {
    border-color: [COLOR_HEX];
    background-color: [COLOR_HEX]
}

.slz-woocommerce input#submit {
    color: [COLOR_HEX]
}

p.stars a.star-1::after,
p.stars a.star-2::after,
p.stars a.star-3::after,
p.stars a.star-4::after,
p.stars a.star-5::after {
    color: [COLOR_HEX]
}

span.product-title:hover,
span.product-title:active,
span.product-title:focus {
    color: [COLOR_HEX]
}

.woocommerce.widget_top_rated_products .product_list_widget .amount {
    color: [COLOR_HEX]
}

.woocommerce.widget_product_search .woocommerce-product-search input[type="submit"]:hover {
    background-color: [COLOR_HEX]
}

.woocommerce #respond input#submit,
.woocommerce.widget_product_search .woocommerce-product-search input[type="submit"],
.woocommerce.widget_products .product_list_widget .amount,
.woocommerce ul.product_list_widget li .quantity .amount,
.woocommerce .widget_shopping_cart .total .amount,
.woocommerce.widget_shopping_cart .total .amount {
    color: [COLOR_HEX]
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove,
.woocommerce a.remove {
    color: [COLOR_HEX]!important
}

.woocommerce ul.products > button.slick-prev:hover,
.slz-woocommerce ul.products > button.slick-prev:hover,
.woocommerce ul.products > button.slick-next:hover,
.slz-woocommerce ul.products > button.slick-next:hover {
    border-color: [COLOR_HEX];
    background-color: [COLOR_HEX]
}

.about-us-wrapper .avatar:hover .image-wrapper {
    border: 1px solid [COLOR_HEX]
}

.contact-list-media .title:hover {
    color: [COLOR_HEX]
}

.car-rent-layout .content-wrapper .title:hover,
.car-rent-layout-2 .content-wrapper .title:hover {
    color: [COLOR_HEX]
}

.car-rent-layout .content-wrapper .price,
.car-rent-layout-2 .content-wrapper .price {
    color: [COLOR_HEX]
}

.contact-list-media .title:hover {
    color: [COLOR_HEX]
}

.blog-author-content .media-right .author:hover {
    color: [COLOR_HEX]
}

.sideline::after {
    background-color: [COLOR_HEX]
}

.stars-rating .review.star-1::before,
.stars-rating .review.star-2::before,
.stars-rating .review.star-3::before,
.stars-rating .review.star-4::before,
.stars-rating .review.star-5::before {
    color: [COLOR_HEX]
}

.sc_gallery .a-fact-image-wrapper .a-fact-image.active .icons {
    background-color: [COLOR_HEX];
    border-color: [COLOR_HEX]
}

.homepage-04 .form-subscribe-email .btn-email {
    background-color: [COLOR_HEX]
}

.group-btn .btn-click {
    color: [COLOR_HEX]
}

.group-btn .btn-click .icons {
    color: [COLOR_HEX]
}

.slz-search-widget .widget a.btn-reset {
    color: [COLOR_HEX]
}

.result-meta .result-count-wrapper a.btn-reset-all {
    color: [COLOR_HEX]
}

.page-title .page-title-wrapper .breadcrumb {
    border-bottom: 1px solid [COLOR_HEX]
}

.mega-menu-content {
    border-bottom: 2px solid [COLOR_HEX]
}

.page-404 .btn.btn-maincolor {
    background-color: [COLOR_HEX];
    border: 1px solid [COLOR_HEX]
}

.result-meta .result-count-wrapper span {
    background-color: [COLOR_HEX]
}

.result-meta a.btn-reset-all {
    color: [COLOR_HEX]
}

.woocommerce table.shop_table td.actions .button[name="apply_coupon"]:hover {
    border: 2px solid [COLOR_HEX];
    background-color: [COLOR_HEX]
}

.woocommerce table.shop_table td.actions .button:hover {
    background-color: [COLOR_HEX]
}

.woocommerce input.button:hover {
    background-color: [COLOR_HEX]
}

.woocommerce input.button {
    color: [COLOR_HEX]
}

.slz-woocommerce input.button:hover {
    background-color: [COLOR_HEX]
}

.slz-woocommerce input.button {
    color: [COLOR_HEX]
}

.slz-booking-wrapper .table-responsive .table tr:first-child {
    color: [COLOR_HEX]
}
.slz-woocommerce .type-product .entry-summary .price ins, 
.slz-woocommerce .type-product .entry-summary .price > .amount {
    color:[COLOR_HEX]
}
.btn-share-social:hover .btn-share {
    background-color: [COLOR_HEX];
    border-color: [COLOR_HEX];
}
.hotels-layout .content-wrapper .list-info .share-social-list .link-social:hover, 
.tours-layout .content-wrapper .list-info .share-social-list .link-social:hover {
    background-color: [COLOR_HEX];
}
.tour-view-main .tours-layout .content-wrapper .list-info > li .link,
.hotel-view-main .tours-layout .content-wrapper .list-info > li .link {
  background-color: [COLOR_HEX];
}
.tour-view-main .tours-layout .content-wrapper .list-info li .link:hover,
.hotel-view-main .tours-layout .content-wrapper .list-info li .link:hover {
  background-color: [COLOR_HEX];
}
.tour-view-main .slz-shortcode.tours-wrapper .tours-layout .content-wrapper .list-info li .link:hover,
.hotel-view-main .slz-shortcode.tours-wrapper .tours-layout .content-wrapper .list-info li .link:hover {
  background-color: [COLOR_HEX];
}
.cruises-result-detail .btn-share-social:hover .btn-share,
.car-detail-main .btn-share-social:hover .btn-share {
    background-color: [COLOR_HEX];
    border: [COLOR_HEX];
}
.sc-map-location.slz-map-location-full .find-widget::before{
	background-color: [COLOR_HEX];
}
#infowindow span::after{
	color: [COLOR_HEX];
}
