@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?f1szau');
    src:    url('fonts/icomoon.eot?f1szau#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?f1szau') format('truetype'),
        url('fonts/icomoon.woff?f1szau') format('woff'),
        url('fonts/icomoon.svg?f1szau#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iconmoon-"], [class*=" iconmoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconmoon-mail-envelope-open:before {
    content: "\e900";
}
.iconmoon-mail-envelope-closed:before {
    content: "\e901";
}
.iconmoon-mail-envelope-open2:before {
    content: "\e902";
}
.iconmoon-mail-envelope-open3:before {
    content: "\e903";
}
.iconmoon-flag:before {
    content: "\e904";
}
.iconmoon-eye:before {
    content: "\e905";
}
.iconmoon-star:before {
    content: "\e906";
}
.iconmoon-key:before {
    content: "\e907";
}
.iconmoon-key2:before {
    content: "\e908";
}
.iconmoon-note-remove:before {
    content: "\e909";
}
.iconmoon-document-text:before {
    content: "\e90a";
}
.iconmoon-document-add:before {
    content: "\e90b";
}
.iconmoon-document-remove:before {
    content: "\e90c";
}
.iconmoon-document-forbidden:before {
    content: "\e90d";
}
.iconmoon-inboxes:before {
    content: "\e90e";
}
.iconmoon-folder-cancel:before {
    content: "\e90f";
}
.iconmoon-folder-bookmark:before {
    content: "\e910";
}
.iconmoon-document-zip:before {
    content: "\e911";
}
.iconmoon-search:before {
    content: "\e912";
}
.iconmoon-lock:before {
    content: "\e913";
}
.iconmoon-lock-open:before {
    content: "\e914";
}
.iconmoon-lock-open2:before {
    content: "\e915";
}
.iconmoon-lock-rounded-open:before {
    content: "\e916";
}
.iconmoon-lock-rounded-open2:before {
    content: "\e917";
}
.iconmoon-tag:before {
    content: "\e918";
}
.iconmoon-paperclip:before {
    content: "\e919";
}
.iconmoon-basketball:before {
    content: "\e91a";
}
.iconmoon-baseball:before {
    content: "\e91b";
}
.iconmoon-tennis-ball:before {
    content: "\e91c";
}
.iconmoon-bowling-ball:before {
    content: "\e91d";
}
.iconmoon-soccer-ball:before {
    content: "\e91e";
}
.iconmoon-soccer-ball2:before {
    content: "\e91f";
}
.iconmoon-soccer-court:before {
    content: "\e920";
}
.iconmoon-basketball2:before {
    content: "\e921";
}
.iconmoon-baseball-set:before {
    content: "\e922";
}
.iconmoon-tennis-ball2:before {
    content: "\e923";
}
.iconmoon-medal:before {
    content: "\e924";
}
.iconmoon-weights:before {
    content: "\e925";
}
.iconmoon-basketball-hoop:before {
    content: "\e926";
}
.iconmoon-volleyball:before {
    content: "\e927";
}
.iconmoon-stop-watch:before {
    content: "\e928";
}
.iconmoon-stop-watch2:before {
    content: "\e929";
}
.iconmoon-hockey-stick:before {
    content: "\e92a";
}
.iconmoon-hockey-sticks:before {
    content: "\e92b";
}
.iconmoon-shuttlecock:before {
    content: "\e92c";
}
.iconmoon-award:before {
    content: "\e92d";
}
.iconmoon-award2:before {
    content: "\e92e";
}
.iconmoon-medal2:before {
    content: "\e92f";
}
.iconmoon-medal3:before {
    content: "\e930";
}
.iconmoon-whistle:before {
    content: "\e931";
}
.iconmoon-volleyball-water:before {
    content: "\e932";
}
.iconmoon-checkered-flag:before {
    content: "\e933";
}
.iconmoon-target:before {
    content: "\e934";
}
.iconmoon-sailing-boat:before {
    content: "\e935";
}
.iconmoon-sailing-boat-water:before {
    content: "\e936";
}
.iconmoon-bowling-pin-ball:before {
    content: "\e937";
}
.iconmoon-diving-goggles:before {
    content: "\e938";
}
.iconmoon-cloud-sun:before {
    content: "\e939";
}
.iconmoon-cloud-moon:before {
    content: "\e93a";
}
.iconmoon-cloud-rain:before {
    content: "\e93b";
}
.iconmoon-cloud-moon-rain:before {
    content: "\e93c";
}
.iconmoon-cloud-snow:before {
    content: "\e93d";
}
.iconmoon-cloud-sun-snow:before {
    content: "\e93e";
}
.iconmoon-cloud-moon-snow:before {
    content: "\e93f";
}
.iconmoon-cloud-lightning:before {
    content: "\e940";
}
.iconmoon-cloud-sun-lightning:before {
    content: "\e941";
}
.iconmoon-cloud-moon-lightning:before {
    content: "\e942";
}
.iconmoon-cloud-wind:before {
    content: "\e943";
}
.iconmoon-cloud-raindrops:before {
    content: "\e944";
}
.iconmoon-cloud-sun-raindrops:before {
    content: "\e945";
}
.iconmoon-cloud-snowflakes:before {
    content: "\e946";
}
.iconmoon-cloud-sun-snowflakes:before {
    content: "\e947";
}
.iconmoon-cloud-moon-snowflakes:before {
    content: "\e948";
}
.iconmoon-clouds:before {
    content: "\e949";
}
.iconmoon-cloud-add:before {
    content: "\e94a";
}
.iconmoon-cloud-remove:before {
    content: "\e94b";
}
.iconmoon-moon-stars:before {
    content: "\e94c";
}
.iconmoon-umbrella:before {
    content: "\e94d";
}
.iconmoon-sunglasses:before {
    content: "\e94e";
}
.iconmoon-moonset:before {
    content: "\e94f";
}
.iconmoon-tornado:before {
    content: "\e950";
}
.iconmoon-smiling-face:before {
    content: "\e951";
}
.iconmoon-sad-face:before {
    content: "\e952";
}
.iconmoon-face-open-mouth:before {
    content: "\e953";
}
.iconmoon-winking-face:before {
    content: "\e954";
}
.iconmoon-laughing-face:before {
    content: "\e955";
}
.iconmoon-laughing-face2:before {
    content: "\e956";
}
.iconmoon-smirking-face:before {
    content: "\e957";
}
.iconmoon-stubborn-face:before {
    content: "\e958";
}
.iconmoon-sad-face2:before {
    content: "\e959";
}
.iconmoon-grinning-face-eyebrows:before {
    content: "\e95a";
}
.iconmoon-sad-face-eyebrows:before {
    content: "\e95b";
}
.iconmoon-neutral-face-eyebrows:before {
    content: "\e95c";
}
.iconmoon-angry-face:before {
    content: "\e95d";
}
.iconmoon-worried-face:before {
    content: "\e95e";
}
.iconmoon-winking-face2:before {
    content: "\e95f";
}
.iconmoon-angry-face-eyebrows:before {
    content: "\e960";
}
.iconmoon-sad-face3:before {
    content: "\e961";
}
.iconmoon-grinning-face-eyebrows2:before {
    content: "\e962";
}
.iconmoon-face-stuck-out-tongue:before {
    content: "\e963";
}
.iconmoon-face-stuck-out-tongue2:before {
    content: "\e964";
}
.iconmoon-face-open-mouth-eyebrows:before {
    content: "\e965";
}
.iconmoon-amused-face:before {
    content: "\e966";
}
.iconmoon-face-moustache:before {
    content: "\e967";
}
.iconmoon-face-glasses:before {
    content: "\e968";
}
.iconmoon-thumb-up:before {
    content: "\e969";
}
.iconmoon-thumb-up2:before {
    content: "\e96a";
}
.iconmoon-thumb-down:before {
    content: "\e96b";
}
.iconmoon-file-mp3:before {
    content: "\e96c";
}
.iconmoon-mobile:before {
    content: "\e000";
}
.iconmoon-laptop:before {
    content: "\e001";
}
.iconmoon-search2:before {
    content: "\e007";
}
.iconmoon-clipboard:before {
    content: "\e008";
}
.iconmoon-browser:before {
    content: "\e00c";
}
.iconmoon-calendar:before {
    content: "\e00d";
}
.iconmoon-presentation:before {
    content: "\e00e";
}
.iconmoon-pictures:before {
    content: "\e010";
}
.iconmoon-video:before {
    content: "\e011";
}
.iconmoon-camera:before {
    content: "\e012";
}
.iconmoon-toolbox:before {
    content: "\e014";
}
.iconmoon-briefcase:before {
    content: "\e015";
}
.iconmoon-wallet:before {
    content: "\e016";
}
.iconmoon-edit:before {
    content: "\e01c";
}
.iconmoon-adjustments:before {
    content: "\e01d";
}
.iconmoon-ribbon:before {
    content: "\e01e";
}
.iconmoon-hourglass:before {
    content: "\e01f";
}
.iconmoon-megaphone:before {
    content: "\e021";
}
.iconmoon-shield:before {
    content: "\e022";
}
.iconmoon-trophy:before {
    content: "\e023";
}
.iconmoon-flag2:before {
    content: "\e024";
}
.iconmoon-map:before {
    content: "\e025";
}
.iconmoon-puzzle:before {
    content: "\e026";
}
.iconmoon-basket:before {
    content: "\e027";
}
.iconmoon-envelope:before {
    content: "\e028";
}
.iconmoon-streetsign:before {
    content: "\e029";
}
.iconmoon-telescope:before {
    content: "\e02a";
}
.iconmoon-gears:before {
    content: "\e02b";
}
.iconmoon-key3:before {
    content: "\e02c";
}
.iconmoon-paperclip2:before {
    content: "\e02d";
}
.iconmoon-attachment:before {
    content: "\e02e";
}
.iconmoon-pricetags:before {
    content: "\e02f";
}
.iconmoon-lightbulb:before {
    content: "\e030";
}
.iconmoon-layers:before {
    content: "\e031";
}
.iconmoon-pencil:before {
    content: "\e032";
}
.iconmoon-tools:before {
    content: "\e033";
}
.iconmoon-tools-2:before {
    content: "\e034";
}
.iconmoon-scissors:before {
    content: "\e035";
}
.iconmoon-paintbrush:before {
    content: "\e036";
}
.iconmoon-magnifying-glass:before {
    content: "\e037";
}
.iconmoon-circle-compass:before {
    content: "\e038";
}
.iconmoon-linegraph:before {
    content: "\e039";
}
.iconmoon-mic:before {
    content: "\e03a";
}
.iconmoon-strategy:before {
    content: "\e03b";
}
.iconmoon-beaker:before {
    content: "\e03c";
}
.iconmoon-caution:before {
    content: "\e03d";
}
.iconmoon-recycle:before {
    content: "\e03e";
}
.iconmoon-anchor:before {
    content: "\e03f";
}
.iconmoon-profile-male:before {
    content: "\e040";
}
.iconmoon-wine:before {
    content: "\e043";
}
.iconmoon-hotairballoon:before {
    content: "\e044";
}
.iconmoon-globe:before {
    content: "\e045";
}
.iconmoon-genius:before {
    content: "\e046";
}
.iconmoon-map-pin:before {
    content: "\e047";
}
.iconmoon-dial:before {
    content: "\e048";
}
.iconmoon-chat:before {
    content: "\e049";
}
.iconmoon-heart:before {
    content: "\e04a";
}
.iconmoon-cloud:before {
    content: "\e04b";
}
.iconmoon-upload:before {
    content: "\e04c";
}
.iconmoon-target2:before {
    content: "\e04e";
}
.iconmoon-hazardous:before {
    content: "\e04f";
}
.iconmoon-piechart:before {
    content: "\e050";
}
.iconmoon-speedometer:before {
    content: "\e051";
}
.iconmoon-global:before {
    content: "\e052";
}
.iconmoon-compass:before {
    content: "\e053";
}
.iconmoon-lifesaver:before {
    content: "\e054";
}
.iconmoon-quote:before {
    content: "\e057";
}
.iconmoon-scope:before {
    content: "\e058";
}
.iconmoon-alarmclock:before {
    content: "\e059";
}
.iconmoon-happy:before {
    content: "\e05b";
}
.iconmoon-sad:before {
    content: "\e05c";
}

